__pycache__
.vscode
.pytest_cache
*.egg-info
wandb
saved_models
datasets/ood_datasets
runs
outputs
multirun
*.pth
build/
notebooks/.ipynb_checkpoints
test_logs/
downloaded_datasets/
run_sweep.py
.env
embeddings
wmt15
wmt15-partial
data/wmt
data/opus
data/paracrawl
data/subset
embeddings_old
save_for_eval
checkpoints
copy_and_run.py
logs/
notebooks/data
